page-home {
	#slide-home{
		height: auto !important;
		position: relative;
		.info-slide{
			position:absolute;
			bottom: 3%;
			left: 0;
			width: 100%;
			h1{
				background: rgba(15,48,66,0.4);
				padding: 20px 2%;
				width: 100%;	
				float: left;
				text-align: center;
				font-weight: 600;
				font-size: 1.2em;
			}
			button{
				background: color($colors, blue, base);
				color:white;
				width: 60%;
				margin:10px 20%;
				text-align: center;
				border-radius: 60px;
				padding: 10px 0;
				font-weight: 600;
				font-size: 1.1em;
			}
		}
	}
	/**/
	.cont-artist{
		width: 100%;
		float: left;
		padding: 7px 1%;
		.img-thumb{
			width: 100%;
			margin: 0 0 10px 0;
			float: left;
			height: 100px;
			overflow: hidden;
			img{
				width: 110%;
				margin: -5% 0 0 0%;
			}
		}
		h2{
			font-size: 14px;
			font-weight: 600;
			text-align: center;
			width: 100%;
			float: left;
			margin:1px 0;
		}
		span{
			text-align: center;
			font-size: 12px;
			color: color($colors, green, base); 
			width: 100%;
			float: left;
			font-weight: 600;
			margin:1px 0;
		}
	}
	/**/
	#btn-action-green{
		background:color($colors, green, base);
		color:color($colors, dark, base);
		width: 60%;
		margin:15px 20%;
		font-weight: 600;
		font-size: 1.3em;
		border-radius: 60px;
		padding:15px 0;
	}
}
