// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face{
	font-family: "Khan";
	font-style: normal;
  	font-weight: 400;
	src:url('../assets/fonts/Khand-Regular.ttf');
}
@font-face{
	font-family: "Khan";
	font-style: normal;
  	font-weight: 600;
	src:url('../assets/fonts/Khand-Bold.ttf');
}
@font-face{
	font-family: "Teko";
	font-style: normal;
  	font-weight: 500;
	src:url('../assets/fonts/Teko-SemiBold.ttf');
}
*{
	font-family: "Khan";
}

ion-header{
	position:relative;
}
#app-icon{
	width: 36px;
    position: absolute;
    top: 7%;
    left: 45%;
}
.icon-home{
	width:40px;
	float:right;
	background: transparent;
	margin: 8px 1px 3px 1px;
}
.back2{
	background: color($colors, blue, base); 
}
#playlist{
	.title-select{
		width: 100%;
		float: left;
		padding: 15px 1%;
		background: color($colors, blue, base); 
	}
	.title{
		font-weight: 600;
		font-size: 28px;
		color: color($colors,gray, base); 
		text-align: right;
	    width: 60%;
   	    line-height: 24px;
   	    float: left;
   	    padding:10px 0 0 0;
		span{
			font-size: 20px;
		}
	}
	.select-c{
		width: 30%;
		float: left;
		margin: 0 2% 0 3%;
		background: color($colors, blue, base);
		.label-select{
			width: 100%;
			font-size: 12px;
			color: color($colors,gray, base); 
			font-weight: 600;
			margin: 0;
		}
		.select-country{
			max-width: 100%;
			float: left;
		}
	}
}
.list-ios{
	margin-bottom:0;
}
.cont-playlist{
	padding:0;
	margin:0;
	min-height:130px;
	overflow:hidden;
	position:relative;
	.backimg-playlist{
		width: 120%;
		margin: -5% 0 0 -7%;
	}
	.btn-playlist{
		width: 98%;
		float: left;
		background:color($colors, green, base);
		color:color($colors, dark, base);
		padding:6px 2px;
		text-align: center;
		margin:0 1% 10px 1%;
		font-weight: 600;
		border-radius: 60px;
	}
	.over-playlist{
		width: 100%;
		height: 100%;
		//background:rgba(34,50,61,0.66);
		bottom:2%;
		left: 0;
		position:absolute;
		.ico-playlist{
			width: 15%;
			margin:7px 42.50%;
			float: left;
		}
		h2{
			font-size: 15px;
			font-weight: 600;
			text-align: center;
			width: 100%;
			float: left;
			margin:1px 0;
		}
		span{
			background:color($colors, green, base);
			color:color($colors, dark, base);
			width: 50%;
			margin:5px 25%;
			font-weight: 600;
			font-size: 12px;
			border-radius: 60px;
			padding:6px 0;
			float: left;
			text-align: center
		}
	}
}